

#side_nav{
    background: #333b46;
    min-width: 225px;
    max-width: 225px;
    transition: all 0.3s;
}
.content{
    min-height: 100vh;
    width: 100%;
}
.h-color{
    background: #fff;
    border: 1px solid #fff;
}

.sidebar li.active{
    background: #2e353f;
    border-radius: 8px;
}
.sidebar li:hover{
    background: #38404b;
    border-radius: 8px;
}
.navbar-horizontal{
    height: 60px; 
    background: #f3f3f3;
}
.sidebar li a{
    color: #fff;
    width: 100%;
}
.icon-menu img{
    width: 25px;
}


@media(min-width:768px){
    #side_nav{
        margin-left: 0;
    }
    .laptop-bar{
        display: block;
    }
    .movil-bar{
        display: none;
    }
}

@media(max-width:767px){
    .laptop-bar{
        display: none;
    }
    .movil-bar{
        display: block;
    }
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 5;
    }
    #side_nav .active{
        margin-left: 0;
    }
    #logout{
        display: none;
    }
    .titulo-gestion{
        font-size: 17px;
    }
    .navbar-horizontal{
        height: 40px;
    }
}

#toast {
    position: fixed;
    top: 120px; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Alinea al centro de la pantalla */
    user-select: none;
  }